<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>天地图测试</title>
    <link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/3.22/esri/css/esri.css">
    <style>
        html, body, #map { height: 100%; width: 100%; margin: 0; padding: 0; }
    </style>
    <script>
         var srcPath=window.location.pathname.substr(0,window.location.pathname.lastIndexOf("src"));
         console.log(srcPath);
         window.dojoConfig={
             deps:["tdt/ChinaTDT"],
             packages:[
                 {
                     name:"tdt",
                     location:srcPath+"src/js/TDT"
                 }
             ],
             async:true
         }
    </script>
    <script src="http://localhost:8080/arcgis_js_api/3.23/init.js"></script>
</head>
<body>
<div id="map"></div>
</body>
</html>