<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>使用dijit管理页面布局</title>
    <!--添加主题样式-->
    <link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/3.22/dijit/themes/claro/claro.css" media="screen">
    <!--配置style-->
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden;
            padding: 0;
        }

        #appLayout {
            height: 100%;
        }

        #leftCol {
            width: 14em;
        }

        .claro .demoLayout .edgePanel {
            background-color: #d0e9fc;
        }

        #viewsChart {
            width: 550px;
            height: 550px;
        }
    </style>
    <!--配置-->
    <script>
        var jsPath = window.location.origin + "/dojoyxf/src/js";
        window.dojoConfig = {
            deps: ["layout/layoutDemo"],
            packages: [
                {
                    name: "layout",
                    location: jsPath + "/yxf/layout"
                }
            ]
        }

    </script>
    <!--配置js-->
    <script src="http://localhost:8080/arcgis_js_api/3.22/init.js"></script>
</head>
<body class="claro">
<!--<div
        id="appLayout" class="demoLayout"
        data-dojo-type="dijit/layout/BorderContainer"
        data-dojo-props="design: 'headline'">
    &lt;!&ndash;内容&ndash;&gt;
    <div
            class="centerPanel"
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="region: 'center'">
        <div>
            <h4>内容1</h4>
            <p>通过了解可以汇总计算每个测评指标的顾客满意度评价值，从而了解被访者群体对测量对象各方面的态度；
                也可以计算每个受访者对测量对象的态度总分，以了解不同被访者对受测对象的不同态度。</p>
        </div>
        <div>
            <h4>内容2</h4>
        </div>
        <div>
            <h4>内容3</h4>
        </div>
    </div>
    &lt;!&ndash;顶部&ndash;&gt;
    <div
            class="edgePanel"
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="region: 'top'">顶部标题内容
    </div>
    &lt;!&ndash;左侧&ndash;&gt;
    <div
            id="leftCol" class="edgePanel"
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="region: 'left', splitter: true">左侧内容
    </div>
</div>
</div>-->
<!--<div class="demoLayout" style="height: 100%; width: 100%"
     data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline'">
    <div class="centerPanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">1 First center:ContentPane</div>
    <div class="demoLayout" style="height: 50%" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="region: 'top', splitter: true, design: 'headline'">
        <div class="centerPanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">2 BorderContainer:ContentPane:center</div>
        <div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'bottom'">2 BorderContainer:ContentPane:bottom</div>
    </div>
    <div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter: true, region: 'left'">3 ContentPane:left</div>
    <div class="demoLayout" style="width: 50%" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="region: 'right', design: 'headline'">
        <div class="centerPanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">4 BorderContainer:ContentPane:center</div>
        <div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'left'">4 BorderContainer:ContentPane:left</div>
    </div>
    <div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter: true, region: 'bottom'">5 ContentPane:bottom</div>
</div>-->
<!--<div class="centerPanel"
     data-dojo-type="dijit/layout/TabContainer"
     data-dojo-props="region: 'center', tabPosition: 'bottom'">
    <div
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="title: 'Group 1'">
        <h4>Group 1 Content</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="title: 'Group Two'">
        <h4>Group 2 Content</h4>
    </div>
    <div
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="title: 'Long Tab Label for this One'">
        <h4>Group 3 Content</h4>
    </div>
</div>-->
<div id="appLayout" class="demoLayout" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'sidebar'">
    <div class="centerPanel" data-dojo-type="dijit/layout/StackContainer" data-dojo-props="region: 'center',id: 'contentStack'">
        <div data-dojo-type="dijit/layout/ContentPane" title="Group 1">
            <h4>Group 1 Content</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.</p>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" title="Group Two">
            <h4>Group 2 Content</h4>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" title="Long Tab Label for this One">
            <h4>Group 3 Content</h4>
        </div>
    </div>
    <div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">Header content (top)</div>
    <div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'bottom'">
        <div data-dojo-type="dijit/layout/StackController" data-dojo-props="containerId:'contentStack'"></div>
    </div>
    <div id="leftCol" class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'left', splitter: true">
        Sidebar content (left)
    </div>
</div>
</body>
</html>